@import '../variables';

.post {
  padding: 1rem;
  display: flex;
  @media (max-width: $mobile-breakpoint) {
    flex-wrap: wrap;
  }
}

.post__img {
  width: 50%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    height: 250px;
  }
}

.post__content {
  padding: .5rem;
  text-align: left;
  color: $black;
}

.post__title {
  color: $pink
}

.post__date {
  font-family: $heading-font;
  color: $gray;
  font-size: .7rem;
}

.post__excerpt {
  font-size: .9rem;
  font-family: $heading-font;
}
@media (max-width: $mobile-breakpoint) {

}