@import '../variables';

.post {
  width: 50%;
  padding: 2rem;

  a {
    position: relative;
  }
}

.post-title {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  font-family: $heading-font;
  text-decoration: none;
  background-color: $black;
  color: $pink;
  padding: .5rem 1rem;
}